.example-card {
  width: 900px;
  height: 300px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  margin-top: 1rem;
}

.buttons {
  display: flex;
  margin-top: 1rem;
}

.dashboard-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
