<div class="content">
    <div class="cards">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="buttons">
        <button mat-button (click)="addStudent()" style="margin-left: 0;"><mat-icon>add</mat-icon>Add Student</button>
    </div>
</div>