<app-toolbar></app-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" class="sidenav" #sidenav>
        <div class="sidenavContent">
            <button mat-button routerLink="home" routerLinkActive #homeLink="routerLinkActive"
                [color]="homeLink.isActive?'primary':'undefined'">Home</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet #outlet="outlet"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>