<mat-toolbar style="position: sticky;top: 0;z-index: 5;">
    <button (click)="clickMenu()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon>school</mat-icon>
    </button>
    <span>Academy</span>

    <div class="toolBarContents">
        <button routerLink="" mat-button>
            <mat-icon>dashboard</mat-icon>
            Dashboard
        </button>
        <button routerLink="/student-dashboard" routerLinkActive #studentLink="routerLinkActive"
            [color]="studentLink.isActive?'primary':'undefined'" mat-button>
            <mat-icon>group</mat-icon>
            Students
        </button>
        <button mat-button>
            <mat-icon>
                group
            </mat-icon>
            Teachers
        </button>
        <button mat-button>
            <mat-icon>other_houses</mat-icon>
            Classes</button>
        <button mat-button>
            <mat-icon>group</mat-icon>
            Enrollments
        </button>
        <button mat-raised-button color="primary">
            <mat-icon>add</mat-icon>
            New
        </button>
    </div>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" #sidenav class="sidenav">
        <mat-action-list>
            <a mat-list-item routerLink="/home">
                Home
            </a>
            <a mat-list-item routerLink="/profile">Profile</a>
            <a mat-list-item routerLink="/classes">Classes</a>
            <a mat-list-item routerLink="/grades">Grades</a>
            <a mat-list-item routerLink="/attendance">Attendance</a>
        </mat-action-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>