<app-toolbar></app-toolbar>

<div class="content">

    <div class="dashboard">
        <h1>Dashboard</h1>
    </div>

    <div class="quickAccess">
        <h2>Quick access</h2>
        <div class="cards">
            <mat-card routerLink="/student-dashboard" class="example-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>group</mat-icon></mat-card-title>
                    <mat-card-subtitle>Students</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Manage Students</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card" routerLink="/teacher-dashboard">
                <mat-card-header>
                    <mat-card-title><mat-icon>group</mat-icon></mat-card-title>
                    <mat-card-subtitle>Teachers</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Manage Teachers</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card" routerLink="/classes-dashboard">
                <mat-card-header>
                    <mat-card-title><mat-icon>other_houses</mat-icon></mat-card-title>
                    <mat-card-subtitle>Classes</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Manage Classes</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>group</mat-icon></mat-card-title>
                    <mat-card-subtitle>Courses</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Manage Courses</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card" routerLink="/enrollments-dashboard">
                <mat-card-header>
                    <mat-card-title><mat-icon>group</mat-icon></mat-card-title>
                    <mat-card-subtitle>Enrollment</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Manage Enrollments</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>group</mat-icon></mat-card-title>
                    <mat-card-subtitle>Grades</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Manage Grades</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>group</mat-icon></mat-card-title>
                    <mat-card-subtitle>Attendance</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Manage Attendance</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>group</mat-icon></mat-card-title>
                    <mat-card-subtitle>Grade Scales</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Manage Grade Scales</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>group</mat-icon></mat-card-title>
                    <mat-card-subtitle>Settings</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Manage Settings</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="summary">
        <h2>Summary</h2>
        <div class="summaryCards">
            <mat-card class="summary-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>group</mat-icon></mat-card-title>
                    <mat-card-subtitle>Students</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Total : 100</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="summary-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>group</mat-icon></mat-card-title>
                    <mat-card-subtitle>Teachers</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Total : 10</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="summary-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>other_houses</mat-icon></mat-card-title>
                    <mat-card-subtitle>Classes</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Total:10</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="summary-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>group</mat-icon></mat-card-title>
                    <mat-card-subtitle>Enrollments</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Total:10</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="summary-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>group</mat-icon></mat-card-title>
                    <mat-card-subtitle>Grades</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Total:10</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="summary-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>group</mat-icon></mat-card-title>
                    <mat-card-subtitle>Attendance</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Total:10</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>