<mat-toolbar style="position: sticky;top: 0;z-index: 5;">
    <button mat-icon-button (click)="clickMenu()">
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon>school</mat-icon>
    </button>
    <span>Academy</span>

    <div class="toolBarContents">
        <button routerLink="/dashboard" mat-button routerLinkActive #dashboardLink="routerLinkActive"
            [color]="dashboardLink.isActive?'primary':'undefined'">
            <mat-icon>dashboard</mat-icon>
            Dashboard
        </button>
        <button routerLink="/student-dashboard" routerLinkActive #studentLink="routerLinkActive"
            [color]="studentLink.isActive?'primary':'undefined'" mat-button>
            <mat-icon>group</mat-icon>
            Students
        </button>
        <button mat-button routerLink="/teacher-dashboard" routerLinkActive #teacherLink="routerLinkActive"
            [color]="teacherLink.isActive?'primary':'undefined'">
            <mat-icon>
                group
            </mat-icon>
            Teachers
        </button>
        <button mat-button>
            <mat-icon>other_houses</mat-icon>
            Classes</button>
        <button mat-button>
            <mat-icon>group</mat-icon>
            Enrollments
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" #sidenav class="sidenav">
        <div class="sidenavContent">
            <button mat-button routerLink="home" routerLinkActive #homeLink="routerLinkActive"
                [color]="homeLink.isActive?'primary':'undefined'">Home</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>